
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @Html.Partial("PartialHead")

<body>
   
    <!-- Navbar Start -->
    @Html.Partial("PartialNavbar")
    <!-- Navbar End -->
    <!-- Page Header Start -->
    @Html.Partial("PartialHeader")
    <!-- Page Header End -->
    
    <!-- Product Start -->
    @await Component.InvokeAsync("ProductComponentPartial")
    <!-- Product End -->
    <!-- Footer Start -->
    @await Component.InvokeAsync("FooterComponentPartial")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("ScriptComponentPartial")
</body>

</html>